# define line endings

* text=auto

# user readable files
*.txt text lf
*.ini text lf
*.bak text lf
*.xml text lf

# encoded documentation
*.html text lf

# source code
*.cpp text lf
*.c   text lf
*.hpp text lf
*.h   text lf
*.py  text crlf

# project files and other compilation related files
*Makefile text lf
*.project text lf
*.vcxproj text lf
*.sln     text lf
*.filters text lf
*.pl      text lf
*.pm      text lf
*.bat     text lf

# Custom file formats
*.ColonizationWBSave text crlf

# binary files
*.ico binary
*.dll binary
*.exe binary

# audio
*.wav binary
*.mp3 binary

# graphics
*.ani binary
*.tga binary
*.dds binary
*.nif binary
*.fkm binary
*.kf  binary

# git specific files
.gitattributes text lf
.gitignore     text lf
.editorconfig  text lf



# export ignores
# The following files will not make it into git exports (as in a zip of the git repository)

.gitattributes export-ignore
.gitignore     export-ignore
.editorconfig  export-ignore
.ini.bak       export-ignore
Project\ Files export-ignore
